/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    background-color: #f5f5f5;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}

.uvod {
    background: url(images/island-hlavicka.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin:0;
    width:100%;
    height: 100%;
        }


.uvodnitext {display: 
    block;}
.textace {
    background-color: white;   
}

.titulek {
    text-align: center;
    color: white;
    margin: 0;
    padding: 15px 25px;
    font-family: 'Raleway', sans-serif;

}
             
.perex {
    color: white;
    text-align: center;
    padding: 10px 15px;
    margin: 0;
}
        
.perex::after {
    content: " ";
    display: block;
    background-color: white;
    width:100px;
    height: 2px;
    margin:auto; 
    margin-top:30px;
    opacity: 85%;
        }
        
.autor {
    color: white;
    font-style: italic;
    text-align: center;
    margin:0;
    padding-top: 5px;
    padding-bottom:40px;
    font-size:14px;
    opacity: 75%;
}
        
   
.menu {
    padding-left: 35px;
    padding-right: 25px;
    padding-top: 35px;
    display: block;
}

.menu li {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(192, 192, 192, 0.3);
    padding: 5px 0;
}

.menu a {
    text-decoration: none;
    color: silver;
    text-transform: uppercase;
}


.zacatek,
.procisland,
.covidet,
.mista {
    padding-left:20px;
    padding-right: 15px;
    padding-top:10px;
    padding-bottom:30px;
    
}

.mista {
    margin-top: 20px;
}


img {width: 100%;
}

.popisek1 {
    color:silver;
    text-align: center;
    margin:0;
}

.popisek1 a {
    color: silver;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
    font-family: 'Raleway', sans-serif;
}

h2::after {
    content: " ";
    display: block;
    background-color: rgb(72, 158, 208);
    width:70px;
    height: 5px;
    margin-top:25px;
    position: absolute;
    left:-20px;
}

.odstavec1::before,
.odstavec2::before {
    content: " ";
    display: block;
    width: 100px;
    height: 5px;
    margin-top:40px;
}

.nadpisfoto {
    padding-left: 20px;

}
.nadpisfoto::after {
    margin-top: 25px;
}


.paticka {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top:15px;
    background-color: #f5f5f5;	
}
    

.paticka a {
    color: silver;
}

.paticka p {
    color: silver;
}

@media (max-width:500px) {
    .textace {display: flex;
    flex-direction: column;}

    .galerie {
    max-width: 500px;
} 

    .foto img { 
    width: 500px;
 }
 
    .popisek {
    margin-top:0;
    text-align: center;
     color:silver;
     font-weight: 600;
 }
 
    .popisek a {
     color: silver;
 }
 
    .popisek-copy {
     color: silver;
     font-weight: lighter;
 }
}

@media (min-width:500px) and (max-width:1000px) {

    .uvodnitext {
        max-width: 850px;
        margin:auto;
        }

    .perex {padding: 5px 20px;}
    .menu {
        display: flex;
        justify-content: space-around;
        padding: 15px;
    }

    .menu li {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex: 1 1 500px;
        border-top: 1px solid rgba(192, 192, 192, 0.3);
        border-bottom: 1px solid rgba(192, 192, 192, 0.3);
    }

    .radek1, 
    .radek2,
    .radek3 {
        border-right: 1px solid rgba(192, 192, 192, 0.3);
    }

    .galerie {
        display: flex;
        flex-wrap: wrap;
    }

    .foto img {
        width: 460px;
        height: 100%;
        transition: 0.4s;
        display: block;
    }
    .foto img:hover {
        transform: scale(1.1);
    }

    .foto {
        position: relative;
        overflow: hidden;
    }

    .popisek {
        width:100%;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        position: absolute;
        text-align: center;
    }
    .popisek a {
        color: white;
    }

    .foto:hover .popisek {
        transform: translateY(-130%);
    }

   .obrazek {
        position: relative;
    }

    .popisek1 {
        position: absolute;
        right: 0;
        padding-right:10px;
    
    }

}


@media (min-width:1000px) {

    .titulek{
        text-align: center;
        color: white;
        margin: 0;
        padding-top: 15px;  
    }

    h1 {
        font-size: 68px;
        margin-top: 80px;
    }

    .perex {
        color: white;
        text-align: center;
        padding: 20px 420px;
        margin: 0;
        font-size: 16px;
    }

    .autor {padding-bottom:70px;}

    .zacatek {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }


    .kontejner {
        position: relative;
    }

   .prostredek {
        position: absolute;
        margin-top:-25px;
        margin-left: 18%;
        margin-right: 18%;
        background-color: white;
        max-width: 960px;
        box-shadow: 7px 7px 5px #888888;
        
    }

    h2::after {
        content: " ";
        display: block;
        background-color: rgb(72, 158, 208);
        width:80px;
        height: 5px;
        margin-top:25px;
        position: absolute;
        left:-50px;
    }
    
    .odstavec1::before,
    .odstavec2::before {
        content: " ";
        display: block;
        width: 100px;
        height: 5px;
        margin-top:40px;
    }
    .flexbox1 {
        display: flex;
    }
    .menu {
        padding-top:20px;
    }

    .menu li {
        justify-content: flex-start;
        width: 170px;
        padding: 5px 0;
    }

    .galerie {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 960px;
    }

    .foto img {
        width: 300px;
        height: 100%;
        transition: 0.4s;
        display: block;
    }

    .foto {
        position: relative;
        overflow: hidden;
    }
    .foto img:hover {
        transform: scale(1.3);
    }
    .popisek {
        width:100%;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        position: absolute;
        text-align: center;
        }
    
        .popisek a {
            color: white;
        }
    .foto:hover .popisek {
        transform: translateY(-130%);
        }

    .procisland {
        padding-right: 250px;
        padding-left: 50px;
        padding-bottom:50px;
    }

    .covidet {
        padding-left: 260px;
        padding-right: 50px;
        padding-bottom:20px;
    }

    .mista {
        padding-left: 260px;
        padding-right: 50px;
        padding-bottom:20px;
    }
    .nadpisfoto {
        padding-left: 60px;
        margin-bottom: 45px;
    }
    .nadpisfoto::after {
        content: " ";
        display: block;
        background-color: rgb(72, 158, 208);
        width:80px;
        height: 5px;
        margin-top:25px;
        position: absolute;
        left: 0px;
    }
    
    .foto::before {
        margin-top: 30px;
    }
    .mista {
        margin-top: 20px;
    }

.obrazek img {position: relative;}

.popisek1 {position: absolute;
right: 0;
padding-right: 10px ;}


}
